<!-- header.html -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex align-items-left">
        <!-- Logo / Brand -->
        <a class="navbar-brand" href="https://www.uwc.ac.za/">
          <img src="/assests/img/logos/UWC_logo_stacked-03.svg" alt="UWC TTO Logo" height="40" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="/index.html">
          <img src="/assests/img/logos/UWC_TTO_WEB.png" alt="UWC TTO Logo" height="40" class="d-inline-block align-text-top">
        </a>
      </div>
      
      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
              href="#" 
              id="externalDropdown" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="externalDropdown">
              <li><a class="dropdown-item" href="/about/about.html">Innovation and Technology</a></li>
              <li><a class="dropdown-item" href="/about/team.html">Our Team</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news.html">News & Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/for-innovators/index.html">For Innovators</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
              href="#" 
              id="externalDropdown" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
              For External Stakeholders
            </a>
            <ul class="dropdown-menu" aria-labelledby="externalDropdown">
              <li><a class="dropdown-item" href="/about/about.html">Innovation and Technology</a></li>
              <li><a class="dropdown-item" href="/for-stakeholders/uwc-tech.html">UWC Technologies</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/documents.html">Documents & Policies</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/about/contact-us.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<script src="../assests/js/dropdown.js"></script>
